In [15]:
#list operations
#Create a list of integers containing numbers from 1 to 10.
num = list(range(1, 11))
#Append the square of each number to the list.
sq = [i ** 2 for i in num]
num.extend(sq)
#Find and print the sum of all elements in the list.
all_sum = sum(num)
print(f"Sum of all elements: {all_sum}")

Sum of all elements: 440

In [16]:
#tuple operation
#Create a tuple containing the first five even numbers.
x = (2, 4, 6, 8, 10)
#Find and print the product of all elements in the tuple.
p = 1
for num in x:
    p *= num
print(f"Total Product: {p}")

Total Product: 3840

In [17]:
#set operation
#Create two sets of odd numbers between 1 to 10.
x1 = {1, 3, 7}
x2 = {3, 9, 11}
#Find and print the union of the two sets.
union = x1.union(x2)
print(f"Union: {union}")
#Find and print the intersection of the two sets.
inter = x1.intersection(x2)
print(f"Intersection: {inter}")

Union: {1, 3, 7, 9, 11}
Intersection: {3}

In [18]:
#dictionary operation
#Create a dictionary where keys are the first five lowercase alphabets and values are their respective ASCII values.
x = 'abcde'
y = {char: ord(char) for char in x}
#Print the dictionary.
print("ascii values:",y)

ascii values: {'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101}

In [19]:
# functional programming
#Define a function square(x) that returns the square of x.
def sq(x):
    return x ** 2
y = list(range(1, 11))
#Use the map function to apply the square function to each element in a list of integers from 1 to 10 and print the result.
sq_y = map(sq, y)
count=0
for i in sq_y:
  count +=1
  print("Squared value for ",count,"is ",i)

Squared value for  1 is  1
Squared value for  2 is  4
Squared value for  3 is  9
Squared value for  4 is  16
Squared value for  5 is  25
Squared value for  6 is  36
Squared value for  7 is  49
Squared value for  8 is  64
Squared value for  9 is  81
Squared value for  10 is  100